.showEditor {
  display: flex;
}
.hideEditor {
  display: none;
}

.wCanaf,
.wCanafParam {
  width: 5%;
  flex: 1 1 3.8%;
}

.edit-header {
  background-color: rgb(255, 255, 255);
  color: brown;
  outline: 1px brown solid;
}
