.orderRow {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  width: 80%;
  margin: auto;
}
.orderRow div,
.orderRow img {
  width: 10rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 1px rgb(202, 196, 196) dotted;
  text-align: right;
}

.order-container {
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.order-selection {
  width: 30%;
  padding: 1% 5%;
  border-radius: 10px;
  border: 1px rgb(148, 141, 37) solid;
  font-size: 1.1rem;
  margin: 1%;
  color: rgb(6, 47, 122);
  text-align: center;
  cursor: pointer;
}
.titles {
  border: 1px rgb(148, 141, 37) solid;
  color: brown;
  font-weight: bold;
}
.orderheader {
  /* width: 70%; */
  display: flex;
  justify-content: center;
  /* margin: 1%; */
  align-items: center;
}
.orderheader img {
  width: 6%;
  cursor: pointer;
}
.approving {
  width: 18%;
  border: none;
  background-color: brown;
  color: white;
  height: 20%;
  padding: 1% 5%;
  margin-top: 1%;
  font-size: 1rem;
  cursor: pointer;
}
