.home-container {
  height: 85vh;
  background-image: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.home-container > .title-homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  padding-top: 5%;
}

.title-homepage > .welcome {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  font-weight: bold;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 20%; */
  font-size: 2rem;
}
.title-homepage > .welcome > p {
  margin: 1%;
}

a > .home-log-btn {
  font-size: 1rem;
  padding: 3% 0;
  border-radius: 2rem;
  border: none;
  background-color: rgb(110, 53, 87);
  color: whitesmoke;
  width: 20rem;
}
